/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

/* AVENIR FONT */
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Black.eot");
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir-Light.eot");
    src: url("../fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: italic; }

/* GRAPHIK FONT */
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Regular.eot");
  src: url("../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.wrapper {
  position: relative;
  width: 100vw;
}
.banner--hero {
  display: block;
  position: relative;
  padding: 5% 0 0 0;
  height: 270px;
  max-height: 270px;
  margin-bottom: 1rem;
  width: 100%;
}
.graphic--maint {
  width: 90%;
  max-width: 90%;
}
.content--main {
  display: block;
  position: relative;
  max-height: 40%;
  max-width: 100%;
  padding: 0 5% 5% 5%;
}
.content__title {
  font: 700 1.5em Avenir, Helvetica, Arial, sans-serif;
  color: rgba(60,60,90,1);
  letter-spacing: -0.5px;
  text-align: center;
}
.content__body {
  font: normal 0.8em Graphik, Helvetica, Arial, sans-serif;
  color: rgba(60,60,90,0.4);
  line-height: 1.618em;
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.centered-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.centered-horizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.force-wrap {
  display: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Tablets 768 */
@media only screen and (min-width: 35rem) {

  .banner--hero {
    height: 40%;
    max-height: 40%;
  }
  .content--main {
    padding: 0 10%;
  }
  .content__title {
    font-size: 2.4rem;
  }
  .content__body {
    font-size: 1.16rem;
  }

}

/* Desktop 960*/
@media only screen and (min-width: 40rem) {
  .banner--hero {
    height: 40%;
    max-height: 40%;
  }
  .content--main {
    padding: 5% 20%;
  }
  .content__title {
    font-size: 2rem;
  }
  .content__body {
    font-size: 1rem;
  }
  .force-wrap {
    display: inline;
  }
}

/* Desktop Large and Retina 1440 */
@media only screen and (min-width: 90rem) {
  .content__title {
    font-size: 2.2rem;
  }
  .content__body {
    font-size: 1.1rem;
  }
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
